@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300&display=swap');
/*font-family: 'Mukta', sans-serif;*/

:root {
    --color-blue-bright: #aad6ec;
    --color-blue-dark: #113065;
    --color-blue-dark-highlight: #3f6098;
    --color-white: #FFF;
    --color-grey: rgb(55, 55, 55);
}

html {
    scroll-behavior: smooth;
  }

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    font-family: 'Mukta', sans-serif;
    /*background-color: rgb(254, 254, 254);*/
}

a {
    text-decoration: none;
    color: var(--color-white);
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: disc;
}

li {
    padding: 2px 0; 
}

#header {
    top: 0;
    width: 100%;
    height: 100px;
    position: fixed;
    background-color: var(--color-blue-dark);
    background-size: cover;
    background-blend-mode: multiply;
    color: var(--color-white);
    z-index: 1;
}

.header-block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.header-block li {
    list-style: none;
    text-align: center;
}

#navLinks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.nav-link {
    display: inline-block;
    font-size: 1.2em;
    padding: 4px 10px;
    margin: 6px;
    transition: all 0.2s ease-in-out;
    border-radius: 5px;
    background-color: var(--color-blue-dark-highlight);
}

.nav-link:hover {
    background-color: var(--color-blue-bright);
}

.container {
    max-width: 900px;
    margin: 0 auto;
}

.section-title {
    margin: 20px 0;
    font-size: 2em;
    color: var(--color-grey);
}

.item-header h4 {
    padding: 2px 0;
}

.personal-data {
    text-align: right;
}

#creerRoadmap {
    color: var(--color-grey);
    margin-top: 30px;
}

#creerRoadmap::before {
    content: '';
    display: block;
    height: 100px;
}

.item::before {
    content: '';
    display: block;
    width: 35px;
    height: 35px;
    position: relative;
    top: 30px;
    left: -53px;
    background-color: var(--color-blue-dark);
    border-radius: 50%;
}

.item {
    padding: 0 0 1px 30px;    
}

.item:last-child::before {
    background-color: var(--color-blue-bright);
    border: 6px solid var(--color-blue-dark);
}

.career-roadmap .roadmap {
    border-left: 10px solid var(--color-blue-dark);
}

.career-roadmap .roadmap:last-child {
    border-left: 10px dotted var(--color-blue-dark);
}

.roadmap li {
    margin-left: 20px;
}

.item h2 {
    font-size: 1.2em;
    font-weight: 800;
}

.item p {
    font-size: 1.2em;
    padding: 2px 0;
}

.item ul {
    font-size: 1.2em;
    margin-bottom: 8px;
}

#myWorks {
    color: var(--color-grey);
    margin: 30px 0;
}

#portfolio {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: raw;
    justify-content: space-between;
    max-width: 900px;
}

.item-portfolio {
    width: 100%;
    max-width: 440px;
    height: 300px;
    padding: 20px;
    margin: 10px 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease-in-out;
}

.item-portfolio:hover {
    background-color: rgba(0, 0, 0, 0.779);
    background-blend-mode: multiply;
}

.item-portfolio span {
    padding: 10px;
    font-weight: 600;
    font-size: 1.4em;
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
}

.item-portfolio:hover span {
    opacity: 1;
}

.dentist-landing {
    background-image: url('img/dentist_1900x933px.png');
}

.todo-list {
    background-image: url('img/todolist_vanillajs.png');
}

@media (max-width: 820px) {

    #header {
        height: auto;
    }

    .header-block {
        padding: 5px 20px;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    #navLinks {
        margin: 10px 0;
        font-size: 0.9em;
        margin: 0;
    }

    .personal-data {
        text-align: center;
    }

    .item-header h1 {
        font-size: 1.4em;
    }

    .item-header h2 {
        font-size: 1em;
    }

    .container {
        margin: 0 20px;
    }

    .section-title {
        text-align: center;
        font-size: 1.4em;
    }

    #creerRoadmap {
        margin: 3px 0;
    }

    #creerRoadmap::before {
        content: '';
        display: block;
        height: 145px;
    }

    .item-portfolio {
        width: 100%;
        height: auto;
        min-height: 300px;
    }

    #portfolio {
        justify-content: center;
    }
}
